{% extends 'base.html' %}

{% block content %}
    <h1>Hello World!</h1>
    <h2>Welcome to FlaskApp!</h2>
    <button type="button" class="btn btn-primary" onclick="ledState(0)">On</button>
    <button type="button" class="btn btn-primary" onclick="ledState(1)">Off</button>

<script>
    function ledState(state) {
        if (state) {
            state = "/off"
        }else{
            state = "/on"
        }
        fetch(state, {
            method: "POST",
            body: JSON.stringify({
            userId: 1,
            title: "Fix my bugs",
            completed: false
            }),
            headers: {
            "Content-type": "application/json; charset=UTF-8"
            }
        });
    }
</script>
{% endblock %}